body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.893);
}

.login-container {
  background-color: #07170bf7;
  padding: 70px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(1, 16, 12, 0.1);
  text-align: center;
  color: #fff;

  .input-group {
    margin-bottom: 15px;
    text-align: left;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      padding: 12px;
      width: 250px;
      border-radius: 9px;
      border: 1px solid hsl(0, 0%, 80%);
    }

    .error {
      color: red;
      margin: 5px 0 0;
      font-size: 0.8em;
    }
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 275px;
    border-radius: 8px;
    &:hover {
      background-color: #0056b3;
    }
  }

  .name {
    width: 250px; /* Adjust the width as needed */
    height: auto; /* To maintain aspect ratio */
  }

  .pass {
    color: #fff;
  }
}
